@model IEnumerable<project_dc_system.Models.Email>

@{
    ViewData["Title"] = "Index";
}

<h1>Emails</h1>

<p>
    <a asp-action="Create">Adicionar novo e-mail</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmailId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EmailId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.EmailId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
